.Collapse {

}

.title {
  background:rgba(200,200,200,1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
  padding-bottom: 1px;
  text-align: left;
  padding-left: 30px;
  margin-top:3px;

}

.content {
  transition:1s;
  overflow:auto;
  background:rgba(200,200,200,1);
}